{% extends 'base.html' %} {% block header%} {% include "navbar.html" %} {%endblock %} {% block content %}

<div class="small d-flex justify-content-start">
     <a href="#!" class="d-flex align-items-center me-3">
         <i class="far fa-thumbs-up me-2"></i>
           <p class="mb-0">Like</p>
            </a>
    <a href="#!" class="d-flex align-items-center me-3">
      <i class="far fa-comment-dots me-2"></i>
      <p class="mb-0">Comment</p>
     </a>
    <a href="#!" class="d-flex align-items-center me-3">
    <i class="fas fa-share me-2"></i>
    <p class="mb-0">Share</p>
     </a>
    </div>
    </div>
    <div class="card-footer py-3 border-0" >
    <div class="d-flex flex-start w-100">
    <img class="rounded-circle shadow-1-strong me-3" height="40" /> 
    <div class="form-outline w-100">
    <textarea class="form-control" id="textAreaExample" rows="4"></textarea><label class="form-label" for="textAreaExample">Message</label>
    </div>
    </div>
    <div class="float-end mt-2 pt-1">
    <button type="button" class="btn btn-primary btn-sm">Post comment</button>
    <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
    </div>
   </div>
    </div>
    </div>
    </div>
    </div>
  </section>

  {% endblock %}