{% extends 'base.html' %} {% block header%} {% include "navbar.html" %}
{%endblock %} {% block content %}
<h1>Comment area</h1>
<form method="post">
  {%csrf_token%}
  <div class="form-outline form-white mb-4">{{ form }}</div>
  {% comment %}
  <div class="create_post">
    <label for="create_post">Write you new comment</label>
    <textarea
      class="form-control"
      required="required"

      id="create_post"
      rows="8"
      cols="28"
    ></textarea>
  </div>


  <button
    type="back"
    class="btn btn-primary"
    style="background-color: rgb(243, 182, 97)"
  >
    Back
  </button>
  {% endcomment %}

  <button


    type="submit"
    class="btn btn-primary"
    style="background-color: rgb(243, 182, 97)"
  >
    Post
  </button>
</form>

{% endblock %}
