{% extends 'base.html' %}

{% block header%}
<div class="container-fluid" style="height: 100px; background-color: rgb(243, 182, 97)">
  Place the logo right here
</div>

{% endblock %} {% block content %}





<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>



          <!DOCTYPE html>
          <html lang="en">
          <head>
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
          </head>
          <body>
          
          <div class="container">
            <h2>New Post from friends</h2>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">First item</a>
              <a href="#" class="list-group-item list-group-item-action">Second item</a>
              <a href="#" class="list-group-item list-group-item-action">Third item</a>
              <a href="#" class="list-group-item list-group-item-action">forth item</a>
              <a href="#" class="list-group-item list-group-item-action">fifth item</a>
              <a href="#" class="list-group-item list-group-item-action">sixth item</a>
              <a href="#" class="list-group-item list-group-item-action">seventh item</a>
              <a href="#" class="list-group-item list-group-item-action">eighth item</a>
            </div>


    
      <div class="list-group">
            <h2>Friends You May Know</h2>
            <a href="#" li class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          
          
            <a href="#" li class="list-group-item list-group-item-action list-group-item-primary">new friend 1</a>

            <a href="#" li class="list-group-item list-group-item-action list-group-item-secondary">new friend 2</a>

            <a href="#" li class="list-group-item list-group-item-action list-group-item-success">new friend 3</a>
            <a href="#" li class="list-group-item list-group-item-action list-group-item-danger">new friend 4</a>
            <a href="#" li class="list-group-item list-group-item-action list-group-item-warning">new friend 5</a>
            <a href="#" li class="list-group-item list-group-item-action list-group-item-info">new friend 6</a>
            <a href="#" li class="list-group-item list-group-item-action list-group-item-light">new friend 7</a>
            <a href="#" li class="list-group-item list-group-item-action list-group-item-dark">new friend 8</a>
          </div>
  {% endblock %}