{% extends 'base.html' %} 
{% load static %} 

{%block title%} Sign Up {%endblock%} 
{%block css_files%}<link rel="stylesheet" href="{% static "login/signup.css"%}">{%endblock%}

{% block header%}
{% comment %} <div class="container-fluid" style="height: 200px; background-color: pink">
  <h1>Sign Up Page</h1>
</div> {% endcomment %}
{% endblock %}
{% block content %}

<body class="backgroundcolor">
  <section class="background">
  <h2 class="">Create an account</h2>

    <p>Please note that if you are a new user, you will be waited to be approved by admins to activate your account</p>
    <form method="POST" enctype="multipart/form-data" style='display: table;'>
      {%csrf_token%}
      <div class="">
        <div class="">

          <label style='display: table-cell;' for="id_username">Username:</label>
          <input style='display: table-cell;' type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
          <br>
          <!-- <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span> -->
          <label style='display: table-cell;' for="id_password1">Password:</label>
          <input style='display: table-cell;' type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
          <br>
          <!-- <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span> -->
          <label style='display: table-cell;' for="id_password2">Password confirmation:</label>
          <input style='display: table-cell;' type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
          <br>
          <!-- <span class="helptext">Enter the same password as before, for verification.</span> -->
          <label style='display: table-cell;' for="id_display_name">Display name:</label>
          <input style='display: table-cell;' type="text" name="display_name" maxlength="255" id="id_display_name"><br>
          <label style='display: table-cell;' for="id_github">Github:</label>
          <input style='display: table-cell;' type="url" name="github" maxlength="200" id="id_github"><br>
          <label style='display: table-cell;' for="id_profileImage">ProfileImage:</label>
          <input style='display: table-cell;' type="file" name="profileImage" accept="image/*" id="id_profileImage"><br>

          <button type="submit">Register</button>
        </div>

      </div>
    </form>
    <button onclick="darkMode()">Darkmode</button>
    <button onclick="lightMode()">LightMode</button>


  </section>
</body>
  <script>
      function darkMode() {
        var element = document.body;
       
        element.className = "dark-mode";
       
      }
      function lightMode() {
        var element = document.body;
      
        element.className = "backgroundcolor";
        
      }
    </script>

{% endblock %}