{% extends 'base.html' %}

{% block header%}
<div class="container-fluid" style="height: 100px; background-color: rgb(243, 182, 97)">
<h1>my posts</h1>
</div>
{% include "navbar.html" %}
{% endblock %} {% block content %}

<div class="container">
    <div class="row">
      
    
    <div class="col-xs-6 col-sm-6 col-md-1 col-md-offset-2">
      <h2>my posts</h2>
      <!-- <div class="pre-scrollable"> -->
      <div style="overflow:scroll; width:600px; height:500px;">

        

      <a href="#" class="list-group-item list-group-item-action"style="width:600px;height: 100px;">follower1</a>
      <a href="#" class="list-group-item list-group-item-action"style="width:600px;height: 100px;">follower2</a>
      <a href="#" class="list-group-item list-group-item-action"style="width:600px;height: 100px;">follower3</a>
      <a href="#" class="list-group-item list-group-item-action"style="width:600px;height: 100px;">follower4</a>
      <a href="#" class="list-group-item list-group-item-action"style="width:600px;height: 100px;">follower5</a>
      <a href="#" class="list-group-item list-group-item-action"style="width:600px;height: 100px;">follower6/a>
      <a href="#" class="list-group-item list-group-item-action"style="width:600px;height: 100px;">follower7</a>
      <a href="#" class="list-group-item list-group-item-action"style="width:600px;height: 100px;">follower8</a>
    </div>
  </div>

  {% endblock %}