{% extends 'base.html' %} 
{%block title%} My Profile {%endblock%} 
{% block header%}
{% comment %} <nav class="navbar navbar-light" style="background-color: #ffd7ba">
  <!-- Navbar content -->
  <div class="container-fluid" style="margin-top: 7px">
    <form
      class="form-inline my-2 my-lg-0 col-xs-2 col-sm-3 col-md-3 col-md-offset-4 col-sm-offset-4 col-xs-offset-4"
    >
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>

    <div class="col-xs-6 col-sm-6 col-md-1 col-md-offset-1">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </div>
    
</nav> {% endcomment %}
{% include "navbar.html" %}
{% endblock %} {% block content %}

<style>

p{
  font-family:Arial, Helvetica, sans-serif;
}
.tab{
  display: inline-block;
    margin-left: 50px;
}
.tab1{
  display: inline-block;
}

</style>

<body  style="background-color:lavender">
    <div class="My homepage py-4">
        <div class="container" >
          <div class="row">
            <div class="col-lg-4">
              
              <div class="card shadow-sm" style="font-family:Gautami; font-size:large">
                  <h1>My infomation</h1>
                <div class="card-body">
                  <br/>
                  <p class="mb-0"><strong class="pr-1" style="font-family:Gautami; font-size:large">User ID: </strong> 
                      <div class="tab" style="font-family:'Courier New', Courier, monospace">
                        <span class="tab1">{{ all_info.uuid}}</span>
                      </div>
                  </p>

                  <p class="mb-0"><strong class="pr-1" style="font-family:Gautami; font-size:large">Username:</strong>
                    <div style="font-family:'Courier New', Courier, monospace">
                      <span class="tab">{{ all_info.username }}</span>
                    </div>
                  </p>

                  <p class="mb-0"><strong class="pr-1" style="font-family:Gautami; font-size:large">Password:</strong>
                    <div style="font-family:'Courier New', Courier, monospace">
                    <span class="tab">{{ all_info.password}}</span>
                    </div>
                  </p>
                  
                  <p class="mb-0"><strong class="pr-1" style="font-family:Gautami; font-size:large">Display Name:</strong>
                    <div style="font-family:'Courier New', Courier, monospace">
                    <span class="tab">{{ all_info.display_name }}</span>
                    </div>
                  </p>
                  
                  <p class="mb-0"><strong class="pr-1" style="font-family:Gautami; font-size:large">GitHub Account:</strong>
                    <div style="font-family:'Courier New', Courier, monospace">
                    {{ all_info.github }}
                    </div>
                  </p>
                
                </div>
              </div>
            </div>  
</div>
          <br/>
          <button type="button" class="btn btn-primary" 
                  style="background-color:white;border:0"> 
          <a href= {% url 'informationedit-page' userId%}>Edit</a>
          </button>
    
</body>

{% endblock %}
