* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}
.gradient-custom {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #FFD7BA;
}

div.container{
    /* center this div */
    display: flex;
    justify-content: center;
}