{% extends 'base.html' %} {% load posts_markdown %}
{%block title%} My Profile {%endblock%} 
{% block header%}
{% comment %} <nav class="navbar navbar-light" style="background-color: #ffd7ba">
  <!-- Navbar content -->
  <div class="container-fluid" style="margin-top: 7px">
    <form
      class="form-inline my-2 my-lg-0 col-xs-2 col-sm-3 col-md-3 col-md-offset-4 col-sm-offset-4 col-xs-offset-4"
    >
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>

    <div class="col-xs-6 col-sm-6 col-md-1 col-md-offset-1">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </div>
    
</nav> {% endcomment %}
{% include "navbar.html" %}
{% endblock %} {% block content %}

<style>
  .row {
  display: flex;
}

  .column {
  flex: 50%;
  padding: 10px;

}

  h1,h2{
    text-align:center; 
    font-family: Ink Free;

  }

  a{
    font-family:Gautami;
  }

</style>



 <body>         
<div class="container" style="background-color: #e7e7e7; border: solid 1px rgba(255, 255, 255, 0.5); border-radius: 20px;">
  <h1>Inbox</h1>
  <div class="row">
      
      <div class="column" style="background-color: #767191; border-radius: 20px;">
        <h2>Your Liked and Comment Messages</h2>
        <div style="overflow:scroll; width:350px; height:500px;">
          {% for text in text%}
              <a href="#" class="list-group-item list-group-item-action"style="width:320px;height: 70px;">{{ text }}</a>
          {% endfor %}

          {% for comment in comment_msg%}
          <a href="#" class="list-group-item list-group-item-action"style="width:320px;height: 70px;">{{ comment }}</a>
          {% endfor %}
        </div>
      </div>

      <div class="column" style="background-color: #d5cfa8; border-radius: 20px;">
        <h2>New posts from your friends</h2>
        <div style="overflow:scroll; width:350px; height:500px;">
          {% for item in Inbox_new_post.all %}
          <h3>{{ item.author.username }}'s new post: </h3>
          <a href="#" class="list-group-item list-group-item-action"style="width:320px;height: 200px; border-radius: 20px;">
                                Title: {{ item.title }}<br/>
                                Description: {{ item.description|convert_markdown|safe }}<br/>
                                content: {{ item.content|convert_markdown|safe }}<br/></a>
          {% endfor %}
        </div>
      </div>

      <div class="column" style="background-color: #658aa1; border-radius: 20px;">
        <h2>Your New Followers</h2>
        <div style="overflow:scroll; width:350px; height:500px;">
          {% for request in requests %}
          <a href="#" class="list-group-item list-group-item-action"style="width:320px;height: 70px;">
                {{ request.summary }}
                
                <form method="post">
                  {%csrf_token%}
                  <button type="submit" class="btn btn-primary" name = "delete" value= {{ request.actor.id }}>
                    √
                  </button>
                </form>
          
              </a>
            
          {% endfor %}
        </div>
      </div>


  
              
              <!--
           <div class="form-group">
            <h2>New friends</h2>

            <div style="overflow:scroll; width:350px; height:250px;">


          
            <a href="#" li class="list-group-item list-group-item-action ">new friend 1</a>

            <a href="#" li class="list-group-item list-group-item-action ">new friend 2</a>

            <a href="#" li class="list-group-item list-group-item-action ">new friend 3</a>
            <a href="#" li class="list-group-item list-group-item-action ">new friend 4</a>
            <a href="#" li class="list-group-item list-group-item-action ">new friend 5</a>
            <a href="#" li class="list-group-item list-group-item-action ">new friend 6</a>
            <a href="#" li class="list-group-item list-group-item-action ">new friend 7</a>
            <a href="#" li class="list-group-item list-group-item-action ">new friend 8</a>
          </div>
        </div>
      -->
      </div>
    </div> 
  </body>  
 
        {% endblock %}
  



